
.Counting {
  background-color: blueviolet;
  text-align: center;
  width: 1250px;
  height: 500px;
  display: block;
  border: 3px solid  black;
  position: absolute;
  left: 22px;
  bottom: 10px;
}
.AddEntity{
  background-color: gray;
  text-align: center;
  width: 100px;
  height: 50px;
  display: block;
  position: absolute;
  left: 20px;
  bottom: 420px;
}
.Massage {
  background-color :brown;
  text-align: center;
  width: 1250px;
  height: 70px;
  display: block;
  border: 3px solid black;
  position: absolute;
  left: 22px;
  bottom: 500px;
}

.Operation {
  background-color:  rgb(78, 165, 236);
  text-align: center;
  width: 1250px;
  height: 165px;
  display: block;
  border: 3px solid black;
  position: absolute;
  left: 22px;
  bottom: 550px;
}

.FieldStatus{
  background-color:  rgb(201, 160, 190);
  text-align: center;
  width: 230px;
  height: 537px;
  display: block;
  border: 3px solid black;
  position: absolute;
  left: 1280px;
  bottom: 10px;
}

.Clock{
  background-color: red;
  text-align: center;
  width: 230px;
  height: 165px;
  display: block;
  border: 3px solid black;
  position: absolute;
  left: 1280px;
  bottom: 550px;
  
}

.Entity1{
  background-color: rgb(56, 16, 16);
  text-align: center;
  width: 100px;
  height: 40px;
  display: block;
  position: absolute;
  left: 15px;
  bottom: 420px;

}